@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

a{
    text-decoration: none;
    color: #369FFF;
}

i{
    font-size: 24px;
}

.container{
    display: grid;
    grid-template-columns: 0.8fr 2fr 3fr;
    /* height: 2000px; */
    margin-top: -30px;
    background:linear-gradient(rgb(255, 255, 255) , rgb(255, 251, 251) , rgb(255, 255, 255));
  
  
    
}

.chart--container {
    min-height: 150px;
    width: 100%;
    height: 100%;
  }

  .zc-ref {
    display: none;
  }


.container .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 55px;
    padding: 40px 0 ;
    background: linear-gradient(rgb(206, 211, 251) , rgb(71, 71, 178) , rgb(50, 50, 154));
    /* background: radial-gradient(rgb(240, 197, 197), rgb(233, 188, 188), rgb(255, 255, 255)); */
}

.container .left-section .logo{
    display: flex;
    align-items: center;
    margin-right: 30px;

}

.container .left-section .logo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.container .left-section .logo a{
    font-weight: bold;
    font-size: 23px;
    color: #0f0e20;
}


.progress-and-chart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}


.progress-button{
  padding: 10px;
  border-radius: 20px;
  width: 100px;
  font-size: 17px;
  background-color: rgb(0, 0, 74);
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 5px black;
  
}

.progress-button:hover{
  background-color: rgb(150, 0, 0);
}

.container .left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;

 
}

.container .left-section .sidebar .item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(90deg, rgb(89, 3, 81) , rgb(81, 26, 79) , rgb(80, 17, 69));
    padding: 7px;
    box-shadow: 5px 5px 5px black;
   
}

.container .left-section .sidebar  :hover{
    color: rgb(255, 82, 2);
}



.container .left-section .sidebar i{
    color: white;
    transition: all 0.1s ease;
}

.container .left-section .sidebar a{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    transition: all 0.01s ease;
    font-size: 20px;
    color: white;

}


.container .left-section .upgrade{
    background: #ffffff;
    box-shadow: 10px 10px 30px black;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    /* justify-content: space-between; */
    padding: 3px;
    margin-bottom: 20px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: -10px;


}

.heading-select-location{
  font-size: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


.heading-select-location{
    font-size: 25px;
    margin-top: 10px;
}

#select-box{
  padding:1px;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  font-size: 30px;
  background-color: rgb(78, 70, 229);
  box-shadow: 5px 5px 5px rgb(54, 52, 52);
  color: white;
  margin-top: -15px;
  margin-left: 10px;
  border: none;
  width: 200px;
}

main{
    /* border-right: 2px solid #858484;
    border-left: 2px solid #858484; */
    padding: 30px 30px 30px 30px;
}

main header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-information-nav{
  display: flex;
  gap: 17px;
}

.contact-info{
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(21, 0, 143, 0.813);
  color: white;
  box-shadow: 10px 10px 10px rgb(135, 134, 134);
}

.seperating-line{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 550px;
  height: 3px;
  background-color: rgb(109, 0, 91);

}



main .separator .info h3{
    font-size: 24px;
}

main .separator .info a{
    margin-top: 6px;
    font-size: 14px;
}




main .analytics{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 20px;
    margin-top: 20px;
}

main .analytics .item{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    height: 140px;
    min-width: 214px;
    padding: 20px;
    border-radius: 20px;
}


.extra-inforation-value{
  font-size: 40px;
}



main .analytics .item .progress{
    display: flex;
    flex-direction: column;
}

main .analytics .item .progress .info h5{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

main .analytics .item .progress .info p{
    color: #fff;
    font-size: 18px;
}

main .analytics .item .progress .progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 20px;
    width: 40px;
    height: 40px;   
    border-radius: 50%;
}

.info{
  margin-top: -10px;
}

.extra-inforation-value{
 font-size: 50px;
 color: white;
  
}

#airQuality-index{
  margin-left: 10px;
}

#population-zone{
  margin-left:3px ;
}

#risk-zone{
  margin-left: 15px;
}

.info-div{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
  padding: 7px;
  border-radius: 15px;
  background-color: rgb(40, 123, 51);
  box-shadow: 5px 5px 5px rgb(13, 12, 12);
  height: 75px;
 
}


main .analytics .item:nth-child(1) .progress .progress-bar{
    background: radial-gradient(closest-side, #253341 79%, transparent 80% 100%),
    conic-gradient(#208BEE 35%, #fff 0%);
}

main .analytics .item:nth-child(2) .progress .progress-bar{
    background: radial-gradient(closest-side, #253341 79%, transparent 80% 100%),
    conic-gradient(#FF7E07 50%, #fff 0%);
}

main .analytics .item:nth-child(3) .progress .progress-bar{
    background: radial-gradient(closest-side, #253341 79%, transparent 80% 100%),
    conic-gradient(#6EB33D 75%, #fff 0%);
}

main .analytics .item:nth-child(4) .progress .progress-bar{
    background: radial-gradient(closest-side, #253341 79%, transparent 80% 100%),
    conic-gradient(#FFC000 25%, #fff 0%);
}

main .analytics .item .progress .progress-bar::before{
    font-size: 10px;
    color: #fff;
}

main .analytics .item:nth-child(1) .progress .progress-bar::before,
main .analytics .item:nth-child(4) .progress .progress-bar::before{
    content: "75%";
}

main .analytics .item:nth-child(2) .progress .progress-bar::before{
    content: "50%";
}

main .analytics .item:nth-child(3) .progress .progress-bar::before{
    content: "25%";
}

main .analytics .item i{
    font-size: 80px;
    color: #fff;
}

main .analytics .item:nth-child(1){
    background: #0f095e;
    box-shadow: 10px 10px 10px rgb(89, 88, 88);
}

main .analytics .item:nth-child(2){
    background: #672d00;
    box-shadow: 10px 10px 10px rgb(89, 88, 88);
}

main .analytics .item:nth-child(3){
    background: #233b04;
    box-shadow: 10px 10px 10px rgb(89, 88, 88);
}

main .analytics .item:nth-child(4){
    background: #7a0303;
    box-shadow: 10px 10px 10px rgb(89, 88, 88);
}

#daily-news-heading{
  margin-top: 30px;
  padding:15px;
  text-align: center;
  background-color: rgb(44, 0, 71);
  border: none;
  color: white;
  box-shadow: 5px 5px 5px rgb(124, 124, 124);
}

.main-photocontainer{
  height: 420px;
  margin-top: 20px;
  background-color: rgb(208, 208, 244);
  box-shadow: 10px 10px 10px rgb(115, 115, 115);
}


.alert-msg{
  font-size: 20px;
}


main .planning{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

main .planning .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F7F7F7;
    border-radius: 20px;
}

main .planning .item .left{
    display: flex;
    align-items: center;
    gap: 10px;
}

main .planning .item .left .icon{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .planning .item:nth-child(1) .left .icon{
    background: #D1E6F9;
}

main .planning .item:nth-child(1) .left .icon i{
    color: #369FFF;
}

main .planning .item:nth-child(2) .left .icon{
    background: #F9E5D2;
}

main .planning .item:nth-child(2) .left .icon i{
    color: #FF993A;
}

main .planning .item:nth-child(3) .left .icon{
    background: #E2EDD2;
}

main .planning .item:nth-child(3) .left .icon i{
    color: #8AC53E;
}

main .planning .item:nth-child(4) .left .icon{
    background: #F9F0D3;
}

main .planning .item:nth-child(4) .left .icon i{
    color: #FFD143;
}

main .planning .item .left .details h5{
    font-size: 12px;
    font-weight: 600;
}

main .planning .item .left .details p{
    font-size: 12px;
    color: #BDBDBD;
}

main .planning .item > i{
    cursor: pointer;
}





/* Chart Section  */

.chart-heading{
    border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(80, 80, 80);
  background-color: rgb(29, 28, 76);
    color: white;
  
  gap: 35px;
  width: 100%;
  
}

.chart-heading h2{
    font-size: 28px;
}

.all-charts-section{
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  
}

.charts{
  margin-top: 10px;  
  width: 100%;
  background-color: rgb(219, 219, 219);
  box-shadow: 10px 10px 10px rgb(108, 108, 108);
}




.down-Chart{
    margin-top: -20px;
}

tr:nth-child(odd) {
    background-color: #5e3030;
    color: white;
  }
tr:nth-child(even) {
    background-color: #ffffff;
    font-weight: bold;
  }
  
  table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td,th{
    /* border: 1px solid black; */
    text-align: center;
    padding: 5px;
    font-size: 18px;
    box-shadow: 3px 3px 3px rgb(36, 36, 36);
  }
  
.progress-data-in-table{
    margin-top: 30px;
}

.buttons-section-down-chart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}



.logout-Button-homePage{
    border: 1px solid black;
    display: inline;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}








.container .right-section{
    padding: 40px 40px 0 40px;
    background-color: #cbd0f8;
    background: linear-gradient(90deg, rgb(186, 201, 241) ,rgb(237, 237, 237) , rgb(212, 213, 254));
}

.container .right-section .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .right-section .top > i{
    color: #909090;
    position: relative;
    cursor: pointer;
}

.container .right-section .top > i::after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background: #EB5757;
    border-radius: 50%;
    right: 0;
}

.container .right-section .top .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #EBF6FF;
    width: 244px;
    height: 60px;
    border-radius: 16px;
}

.container .right-section .top .profile > i{
    cursor: pointer;
}

.container .right-section .top .profile .left{
    display: flex;
    gap: 15px;
}

.container .right-section .top .profile .left img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.container .right-section .top .profile .left .user h5{
    font-size: 14px;
    font-weight: 600;
}

.container .right-section .top .profile .left .user a{
    font-size: 12px;
}

.container .right-section .separator#first{
    margin-top: 8px;
}

.container .right-section .separator h4{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.container .right-section .stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    gap: 20px;
}

.container .right-section .stats .item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    padding: 25px;
    background: #EBF6FF;
    border-radius: 20px;
}

.container .right-section .stats .item .top{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container .right-section .stats .top p{
    font-size: 16px;
    color: #8EA3B7;
    font-weight: 500;
}

.container .right-section .stats .item .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .right-section .stats .item .bottom .line{
    width: 4px;
    height: 30px;
    background: #369FFF;
    border-radius: 20px;
}

.container .right-section .stats .item .bottom h3{
    font-size: 40px;
    color: #006ED3;
}

.container .right-section .weekly{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    background: #F7F7F7;
    border-radius: 16px;
}

.container .right-section .weekly .title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .right-section .weekly .title .line{
    width: 6px;
    height: 50px;
    background: #006ED3;
    border-radius: 20px;
}

.container .right-section .weekly h5{
    font-size: 16px;
}

.container .right-section .weekly .progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #f7f7f7 79%, transparent 80% 100%),
    conic-gradient(#CCC 25%, #006ED3 0%);
}

.container .right-section .weekly .progress-bar::before{
    content: "3/4";
    font-size: 14px;
    color: #000;
}




/* Slider */


.slider{

    width: 100%;
    /* max-width: 100%; */
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    
   
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 110%;
    height: 110%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(60, 60, 60);
    color: #ffffff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

.progress-data-in-table table{
    width: 100%;
    margin-top: -27px;
    /* margin-left: -100px; */
}

.progress-data-in-table table th{
    background-color: rgb(32, 32, 56);
    padding: 11px;
    color: white;
}

.progress-data-in-table table div{
    
    padding: 5px;
    border-radius: 5px;
}

.red{
    background-color: red;
    color: white;
}
.green{
    background-color: green;
    color: white;
}
.blue{
    background-color: blue;
    color: white;
}
.black{
    background-color: black;
    color: white;
}

.progress-data-in-table td{
    padding: 10px;
    
    
}

.progress-data-in-table tr:nth-child(odd) {
    color: black;
   background-color: rgb(199, 199, 255);
   font-weight: bold;
  }
.progress-data-in-table tr:nth-child(even) {
    background-color: #ffffff;
    font-weight: bold;
  }


  .btn-view-details{
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    background-color: rgb(210, 218, 255);
    color: black;
    border-radius:10px ;
    cursor: pointer;
    border: none;
    box-shadow: 4px 4px 4px rgb(25, 25, 25);
   
  }

  .close-btn{
    padding: 13px;
    font-size: 17px;
    font-weight: bold;
    background-color: rgb(248, 0, 0);
    color: white;
    border-radius:10px ;
    cursor: pointer;
    border: none;
    box-shadow: 4px 4px 4px rgb(25, 25, 25);
  }


  
.scroll {
    white-space: nowrap;
    margin: 0 2em;
   
  }
  
  .scroll div {
    display: flex;
    gap: 2em;
  }
  
  .scroll p {
    padding: 20px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 10;
    line-height: 10px;
    text-shadow: 5px 5px 5px black;
  }
  
  .RightToLeft {
    animation: RightToLeft 20s infinite linear;
  }
  
  @keyframes  RightToLeft {
    from {
      transform: translateX(75%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .send-alert-message{
  
    width: 600px;
    /* width: 100%; */
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    background-color: rgb(247, 0, 0);
    box-shadow: 10px 10px 10px rgb(39, 39, 39);
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
  }

  /* x y axis guide */
  .x-y-axis-guide{
    border: 1px solid black;
    display: flex;
    margin-top: -20px;
    margin-bottom: 40px ;
    padding: 10px;
    font-size: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(49, 14, 14);
    color: white;
  }

  .x-axis{
    display: flex;
    gap: 20px;
  }
  .y-axis{
    display: flex;
    gap: 20px;
  }
  .x{
    background-color: red;
   
  }
  .y{
    background-color: green;
  }